{% extends "html5-base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'i18n Example' %}{% endblock title %}

{% block head_css %}
<link rel="stylesheet" href="{% get_static_prefix %}css/style.css" />
{% endblock %}

{% block header %}
{% endblock %}

{% block contents %}
    <article>
    <div class="grid_10">
    {% block article %}
    {% endblock article %}
    </div>
    <div class="grid_6 events_wrap">
        {% block sidebar %}
        {% endblock sidebar %}
     </div>
    </article>
{% endblock %}

{% block footer %}
{% endblock %}
