{% extends 'base.html' %}
{% load i18n %}

{% block article %}
<h1>{% trans 'i18n Example' %}</h1>
<p>{% trans 'Your language is' %} {{ LANGUAGE_CODE }}
<p>{% trans 'Here is come content from the template' %}</p>
<p>{{ foo }}</p>
<p>{{ bar }}</p>
{% endblock article %}
